# 6610402230 ศิริสุข ทานธรรม

# 1.เปิดไฟล์ italy_earthquakes_from_2016-08-24_to_2016-11-30.csv

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('italy_earthquakes_from_2016-08-24_to_2016-11-30.csv')
df

                         Time  Latitude  Longitude  Depth/Km  Magnitude
0     2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1     2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2     2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3     2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4     2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                       ...       ...        ...       ...        ...
8081  2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
8082  2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
8083  2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
8084  2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
8085  2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 5 columns]

# 2.ปรับคอลัมน์ Time ให้เป็น Timestamp และตั้งให้เป็น index

In [3]:
df.Time = pd.to_datetime(df.Time)
df.set_index('Time',inplace=True)
df

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                           ...        ...       ...        ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 4 columns]

# 3. เวลาที่เกิดแผ่นดินไหวแรงที่สุดคือวันเวลาไหน

In [11]:
max_magnitude_date = df[df['Magnitude'] == df['Magnitude'].max()].index[0]
max_magnitude_date.strftime('%A %b %dth, year %Y Time %H : %M : %S')

'Sunday Oct 30th, year 2016 Time 08 : 40 : 17'

 # 4. ในวันที่เกิดแผ่นดินไหวแรงที่สุด มีแผ่นดินไหวกี่ครั้ง

In [25]:
max_magnitude_date_str = max_magnitude_date.strftime('%Y-%m-%d')
df.loc[max_magnitude_date_str].shape

(389, 4)

# 5. แสดงข้อมูลตั้งแต่ 7 ถึง 9 โมงเช้าในวันที่เกิดแผ่นดินไหวแรงที่สุด

In [33]:
df.sort_index(ascending=True,inplace=True)
df

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                           ...        ...       ...        ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 4 columns]

In [57]:
day_max_magnitude_df = df.loc[max_magnitude_date_str + ' 07:00:00' : max_magnitude_date_str + ' 9:00:00']
day_max_magnitude_df

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-10-30 07:01:14.060   42.8522    13.2443       8.9        2.4
2016-10-30 07:02:48.160   42.8538    13.2342       8.3        2.5
2016-10-30 07:14:48.470   42.8737    13.1502       9.2        2.4
2016-10-30 07:31:51.660   42.8753    13.0563       9.9        2.2
2016-10-30 08:04:07.760   42.7907    13.0872      10.2        2.4
2016-10-30 08:16:28.780   43.0622    13.0683       8.7        2.1
2016-10-30 08:31:19.890   42.9268    13.0287      10.8        2.0
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5
2016-10-30 08:41:17.010   42.7720    13.1358       9.3        4.3
2016-10-30 08:42:27.470   42.8795    13.0562       9.6        3.9
2016-10-30 08:43:08.810   42.7668    13.1383       9.7        4.0
2016-10-30 08:43:46.260   42.9000    13.1455       6.7        3.5
2016-10-30 08:44:30.670   42.8548    13.0853       8.3        4.6
2016-10-30 08:47:05.430   42.7868    13.1655       5.8        3.4
2016-10-30 08:48:27.160   42.7825    13.1632      10.8        3.8
2016-10-30 08:48:52.710   42.6828    13.2003      10.1        3.9
2016-10-30 08:50:43.710   42.8068    13.1952      10.5        3.6
2016-10-30 08:51:14.270   42.8925    13.0782       9.1        3.7
2016-10-30 08:51:55.240   42.7828    13.1332      10.1        3.8
2016-10-30 08:53:12.820   42.8090    13.0830      10.1        3.4
2016-10-30 08:53:54.740   42.7692    13.1643      10.8        3.2
2016-10-30 08:54:46.760   42.7958    13.2090      11.3        2.8
2016-10-30 08:55:41.060   42.7122    13.1968      10.8        4.1
2016-10-30 08:55:54.210   42.7508    13.2307      10.9        4.1
2016-10-30 08:56:05.780   42.7993    13.1077      10.5        4.2
2016-10-30 08:56:38.110   42.8437    13.1453       9.7        3.5
2016-10-30 08:57:21.560   42.8607    13.0922       9.5        3.8
2016-10-30 08:58:02.960   42.9078    13.1008       7.3        3.5
2016-10-30 08:59:31.500   42.8517    13.2118       9.9        3.9
2016-10-30 08:59:45.430   42.8235    13.1828      12.7        3.6

# 6. แผ่นดินไหวที่แรงที่สุดกับแรงเป็นที่ 2 ห่างกันเท่าไหร่ ตอบเป็นวัน-ชั่วโมง-นาที

In [49]:
two_highest_magnitude = df.Magnitude.sort_values(ascending=False).head(2)
one = two_highest_magnitude.index[0]
two = two_highest_magnitude.index[1]

In [54]:
one,two

(Timestamp('2016-10-30 08:40:17.360000'), Timestamp('2016-08-24 03:36:32'))

In [56]:
one - two

Timedelta('67 days 05:03:45.360000')

# 7. คำนวณความแรงของแผ่นดินไหวที่เปลี่ยนไปในแต่ละครั้ง ของข้อมูลในข้อ 5. หมายเหตุ: ใช้คำสั่ง shift() ช่วยเลื่อนแถวของคอลัมน์ Magnitude เพื่อคำนวณความแตกต่าง

In [74]:
day_max_magnitude_df.filter(['Magnitude']).diff()

                         Magnitude
Time
2016-10-30 07:01:14.060        NaN
2016-10-30 07:02:48.160        0.1
2016-10-30 07:14:48.470       -0.1
2016-10-30 07:31:51.660       -0.2
2016-10-30 08:04:07.760        0.2
2016-10-30 08:16:28.780       -0.3
2016-10-30 08:31:19.890       -0.1
2016-10-30 08:40:17.360        4.5
2016-10-30 08:41:17.010       -2.2
2016-10-30 08:42:27.470       -0.4
2016-10-30 08:43:08.810        0.1
2016-10-30 08:43:46.260       -0.5
2016-10-30 08:44:30.670        1.1
2016-10-30 08:47:05.430       -1.2
2016-10-30 08:48:27.160        0.4
2016-10-30 08:48:52.710        0.1
2016-10-30 08:50:43.710       -0.3
2016-10-30 08:51:14.270        0.1
2016-10-30 08:51:55.240        0.1
2016-10-30 08:53:12.820       -0.4
2016-10-30 08:53:54.740       -0.2
2016-10-30 08:54:46.760       -0.4
2016-10-30 08:55:41.060        1.3
2016-10-30 08:55:54.210        0.0
2016-10-30 08:56:05.780        0.1
2016-10-30 08:56:38.110       -0.7
2016-10-30 08:57:21.560        0.3
2016-10-30 08:58:02.960       -0.3
2016-10-30 08:59:31.500        0.4
2016-10-30 08:59:45.430       -0.3

# 8. มีแผ่นดินไหวเกิดขึ้นกี่ครั้งในแต่ละวัน

In [102]:
df.resample('D').size()

Time
2016-08-24    508
2016-08-25    240
2016-08-26    212
2016-08-27    140
2016-08-28    110
             ...
2016-11-26     41
2016-11-27     73
2016-11-28     82
2016-11-29     93
2016-11-30     47
Freq: D, Length: 99, dtype: int64

In [103]:
df.resample('D').size().mean()

81.67676767676768

# 9. ถ้าแยกเวลาเป็นช่วง ช่วงละหนึ่งชั่วโมง มีกี่ช่วงที่ไม่มีแผ่นดินไหวเกิดขึ้นเลยในชั่วโมงนั้น

In [128]:
df.resample('1h').size().value_counts()

0     759
1     446
2     287
3     204
4     124
5      91
6      74
7      64
8      34
11     33
9      33
10     29
14     28
13     24
12     23
15     20
17     16
16     15
18     14
19     10
22      9
20      8
21      7
24      6
23      2
61      1
45      1
44      1
54      1
27      1
55      1
72      1
26      1
48      1
28      1
Name: count, dtype: int64

# 10. ถ้าแยกเวลาเป็นช่วง ช่วงละ 5 นาที ช่วงเวลาไหนมีค่าเฉลี่ยความรุนแรงของแผ่นดินไหวสูงที่สุด และค่าเฉลี่ยนั้นมีค่าเท่าไหร่

In [237]:
df.Magnitude.resample('5min').mean().max()

5.4

# 11. ระยะเวลาที่ไม่มีแผ่นดินไหวเลยนานที่สุดคือเท่าไหร่

In [157]:
max = df.index.to_series().diff().max()
max

Timedelta('0 days 16:46:16.250000')

# 12. ระยะเวลาที่ไม่มีแผ่นดินไหวเลยนานที่สุดคือช่วงไหน ระบุเป็นเวลาเร่ิมต้นและเวลาจบ

In [169]:
df.index.to_series().diff().max()

Timedelta('0 days 16:46:16.250000')

In [163]:
df.index.to_series().diff().idxmax()

Timestamp('2016-10-25 20:00:10.480000')

In [168]:
df.index.to_series().diff().loc[:df.index.to_series().diff().idxmax()]

Time
2016-08-24 03:36:32.000                      NaT
2016-08-24 03:37:26.580   0 days 00:00:54.580000
2016-08-24 03:40:46.590   0 days 00:03:20.010000
2016-08-24 03:41:38.900   0 days 00:00:52.310000
2016-08-24 03:42:07.170   0 days 00:00:28.270000
                                   ...
2016-10-24 15:47:31.750   0 days 00:13:42.470000
2016-10-24 20:37:55.970   0 days 04:50:24.220000
2016-10-24 20:41:18.360   0 days 00:03:22.390000
2016-10-25 03:13:54.230   0 days 06:32:35.870000
2016-10-25 20:00:10.480   0 days 16:46:16.250000
Name: Time, Length: 2515, dtype: timedelta64[ns]

In [171]:
print('เวลาที่ไม่มีแผ่นดินไหวนานสุด',df.index.to_series().diff().max())
print('เริ่มจาก 2016-10-25 03:13:54.230')
print('สิ้นสุด 2016-10-25 20:00:10.480')

เวลาที่ไม่มีแผ่นดินไหวนานสุด 0 days 16:46:16.250000
เริ่มจาก 2016-10-25 03:13:54.230
สิ้นสุด 2016-10-25 20:00:10.480

# 13. สมมติว่าเรานิยามแผ่นดินไหวที่รุนแรงนั้นต้องมี Magnitude มากกว่าการไหวครั้งก่อนและครั้งหลังอย่างน้อย 2.0 จงคัดเลือกเหตุการณ์แผ่นดินไหวที่รุนแรงออกมา

In [181]:
df.Magnitude.diff(1)

Time
2016-08-24 03:36:32.000    NaN
2016-08-24 03:37:26.580   -1.5
2016-08-24 03:40:46.590   -0.7
2016-08-24 03:41:38.900    0.1
2016-08-24 03:42:07.170   -0.3
                          ...
2016-11-30 18:39:27.600   -0.3
2016-11-30 18:43:14.850    0.6
2016-11-30 20:18:27.550   -0.4
2016-11-30 20:45:11.780    0.5
2016-11-30 20:54:35.890   -0.4
Name: Magnitude, Length: 8086, dtype: float64

In [180]:
df.Magnitude.diff(-1)

Time
2016-08-24 03:36:32.000    1.5
2016-08-24 03:37:26.580    0.7
2016-08-24 03:40:46.590   -0.1
2016-08-24 03:41:38.900    0.3
2016-08-24 03:42:07.170    0.2
                          ...
2016-11-30 18:39:27.600   -0.6
2016-11-30 18:43:14.850    0.4
2016-11-30 20:18:27.550   -0.5
2016-11-30 20:45:11.780    0.4
2016-11-30 20:54:35.890    NaN
Name: Magnitude, Length: 8086, dtype: float64

In [187]:
high_magnitude_df = df[((df.Magnitude.diff(1) >= 2) & (df.Magnitude.diff(-1) >= 2))]
high_magnitude_df

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-08-24 04:33:28.890   42.7922    13.1507       8.0        5.4
2016-10-26 19:10:36.340   42.8802    13.1275       8.7        5.4
2016-10-26 21:18:05.850   42.9087    13.1288       7.5        5.9
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5
2016-11-29 18:14:02.690   42.5293    13.2803      11.1        4.4

# 14. จากตารางข้อ 13. ให้เพิ่มคอลัมน์ใหม่ชื่อ hour_count แสดงจำนวนแผ่นดินไหวในชั่วโมงที่มีเหตุการณ์แผ่นดินไหวรุนแรงด้วย

In [190]:
df.resample('1H').size().to_period()

/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_67448/273722406.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df.resample('1H').size().to_period()

Time
2016-08-24 03:00    19
2016-08-24 04:00    61
2016-08-24 05:00    72
2016-08-24 06:00    55
2016-08-24 07:00    54
                    ..
2016-11-30 16:00     2
2016-11-30 17:00     3
2016-11-30 18:00     3
2016-11-30 19:00     0
2016-11-30 20:00     3
Freq: h, Length: 2370, dtype: int64

In [203]:
time_high_magnitude = high_magnitude_df.index[0].strftime('%Y-%m-%d %H:%M:%S')
time_high_magnitude

'2016-08-24 04:33:28'

In [212]:
hourly_counts = df.resample('1H').size()
high_magnitude_df['hour_count'] = high_magnitude_df.index.to_series().apply(lambda x: hourly_counts[x.floor('H')])

high_magnitude_df

/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_67448/1905800654.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_counts = df.resample('1H').size()
/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_67448/1905800654.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  high_magnitude_df['hour_count'] = high_magnitude_df.index.to_series().apply(lambda x: hourly_counts[x.floor('H')])
/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_67448/1905800654.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  high_magnitude_df['hour_count'] = high_magnitude_df.index.to_series().apply(lambda x: hourly_counts[x.floor('H')])

                         Latitude  Longitude  Depth/Km  Magnitude  hour_count
Time
2016-08-24 04:33:28.890   42.7922    13.1507       8.0        5.4          61
2016-10-26 19:10:36.340   42.8802    13.1275       8.7        5.4          12
2016-10-26 21:18:05.850   42.9087    13.1288       7.5        5.9          24
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5          26
2016-11-29 18:14:02.690   42.5293    13.2803      11.1        4.4          11

# 15. แสดงจำนวนแผ่นดินไหวแยกตาม 24 ชั่วโมง (เอาจำนวนแผ่นดินไหวของแต่ละชั่วโมง 0-23 ของทุกวันรวมกัน แสดงผลตามชั่วโมง)

In [220]:
df.resample('1H').size().loc['2016-08-24'].sum()

/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_67448/1021242125.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df.resample('1H').size().loc['2016-08-24'].sum()

508

In [223]:
df.resample('1H').size().resample('1D').sum()

/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_67448/4216403507.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df.resample('1H').size().resample('1D').sum()

Time
2016-08-24    508
2016-08-25    240
2016-08-26    212
2016-08-27    140
2016-08-28    110
             ...
2016-11-26     41
2016-11-27     73
2016-11-28     82
2016-11-29     93
2016-11-30     47
Freq: D, Length: 99, dtype: int64

# 16. คำนวณค่าเฉลี่ยของความรุนแรงแผ่นดินไหวที่มากที่สุดในช่วง 3 วัน โดยหาความแรงของแผ่นดินไหวที่มากที่สุดในแต่ละวันก่อน แล้วใช้ sliding window หาค่าเฉลี่ยของทุก ๆ 3 วัน

In [229]:
df.Magnitude.resample('1D').max()

Time
2016-08-24    6.0
2016-08-25    4.4
2016-08-26    4.8
2016-08-27    4.0
2016-08-28    4.2
             ...
2016-11-26    3.2
2016-11-27    3.9
2016-11-28    3.6
2016-11-29    4.4
2016-11-30    3.1
Freq: D, Name: Magnitude, Length: 99, dtype: float64

In [236]:
for window in df.Magnitude.resample('1D').max().rolling('3D'):
    print(window,"\nmean : ",window.mean(),'\n')

Time
2016-08-24    6.0
Freq: D, Name: Magnitude, dtype: float64
mean :  6.0

Time
2016-08-24    6.0
2016-08-25    4.4
Freq: D, Name: Magnitude, dtype: float64
mean :  5.2

Time
2016-08-24    6.0
2016-08-25    4.4
2016-08-26    4.8
Freq: D, Name: Magnitude, dtype: float64
mean :  5.066666666666666

Time
2016-08-25    4.4
2016-08-26    4.8
2016-08-27    4.0
Freq: D, Name: Magnitude, dtype: float64
mean :  4.3999999999999995

Time
2016-08-26    4.8
2016-08-27    4.0
2016-08-28    4.2
Freq: D, Name: Magnitude, dtype: float64
mean :  4.333333333333333

Time
2016-08-27    4.0
2016-08-28    4.2
2016-08-29    3.6
Freq: D, Name: Magnitude, dtype: float64
mean :  3.933333333333333

Time
2016-08-28    4.2
2016-08-29    3.6
2016-08-30    3.3
Freq: D, Name: Magnitude, dtype: float64
mean :  3.7000000000000006

Time
2016-08-29    3.6
2016-08-30    3.3
2016-08-31    3.9
Freq: D, Name: Magnitude, dtype: float64
mean :  3.6

Time
2016-08-30    3.3
2016-08-31    3.9
2016-09-01    3.6
Freq: D, Name: Magnitude, dtype: float64
mean :  3.5999999999999996

Time
2016-08-31    3.9
2016-09-01    3.6
2016-09-02    3.0
Freq: D, Name: Magnitude, dtype: float64
mean :  3.5

Time
2016-09-01    3.6
2016-09-02    3.0
2016-09-03    4.3
Freq: D, Name: Magnitude, dtype: float64
mean :  3.633333333333333

Time
2016-09-02    3.0
2016-09-03    4.3
2016-09-04    2.9
Freq: D, Name: Magnitude, dtype: float64
mean :  3.4

Time
2016-09-03    4.3
2016-09-04    2.9
2016-09-05    3.5
Freq: D, Name: Magnitude, dtype: float64
mean :  3.5666666666666664

Time
2016-09-04    2.9
2016-09-05    3.5
2016-09-06    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.2000000000000006

Time
2016-09-05    3.5
2016-09-06    3.2
2016-09-07    3.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.3666666666666667

Time
2016-09-06    3.2
2016-09-07    3.4
2016-09-08    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.266666666666667

Time
2016-09-07    3.4
2016-09-08    3.2
2016-09-09    2.7
Freq: D, Name: Magnitude, dtype: float64
mean :  3.1

Time
2016-09-08    3.2
2016-09-09    2.7
2016-09-10    3.3
Freq: D, Name: Magnitude, dtype: float64
mean :  3.0666666666666664

Time
2016-09-09    2.7
2016-09-10    3.3
2016-09-11    3.3
Freq: D, Name: Magnitude, dtype: float64
mean :  3.1

Time
2016-09-10    3.3
2016-09-11    3.3
2016-09-12    3.1
Freq: D, Name: Magnitude, dtype: float64
mean :  3.233333333333333

Time
2016-09-11    3.3
2016-09-12    3.1
2016-09-13    3.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.266666666666667

Time
2016-09-12    3.1
2016-09-13    3.4
2016-09-14    3.1
Freq: D, Name: Magnitude, dtype: float64
mean :  3.1999999999999997

Time
2016-09-13    3.4
2016-09-14    3.1
2016-09-15    3.9
Freq: D, Name: Magnitude, dtype: float64
mean :  3.466666666666667

Time
2016-09-14    3.1
2016-09-15    3.9
2016-09-16    3.1
Freq: D, Name: Magnitude, dtype: float64
mean :  3.3666666666666667

Time
2016-09-15    3.9
2016-09-16    3.1
2016-09-17    3.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.466666666666667

Time
2016-09-16    3.1
2016-09-17    3.4
2016-09-18    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.233333333333333

Time
2016-09-17    3.4
2016-09-18    3.2
2016-09-19    3.0
Freq: D, Name: Magnitude, dtype: float64
mean :  3.1999999999999997

Time
2016-09-18    3.2
2016-09-19    3.0
2016-09-20    3.7
Freq: D, Name: Magnitude, dtype: float64
mean :  3.3000000000000003

Time
2016-09-19    3.0
2016-09-20    3.7
2016-09-21    3.5
Freq: D, Name: Magnitude, dtype: float64
mean :  3.4

Time
2016-09-20    3.7
2016-09-21    3.5
2016-09-22    3.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.533333333333333

Time
2016-09-21    3.5
2016-09-22    3.4
2016-09-23    2.8
Freq: D, Name: Magnitude, dtype: float64
mean :  3.233333333333333

Time
2016-09-22    3.4
2016-09-23    2.8
2016-09-24    3.0
Freq: D, Name: Magnitude, dtype: float64
mean :  3.0666666666666664

Time
2016-09-23    2.8
2016-09-24    3.0
2016-09-25    3.0
Freq: D, Name: Magnitude, dtype: float64
mean :  2.9333333333333336

Time
2016-09-24    3.0
2016-09-25    3.0
2016-09-26    2.3
Freq: D, Name: Magnitude, dtype: float64
mean :  2.766666666666667

Time
2016-09-25    3.0
2016-09-26    2.3
2016-09-27    2.7
Freq: D, Name: Magnitude, dtype: float64
mean :  2.6666666666666665

Time
2016-09-26    2.3
2016-09-27    2.7
2016-09-28    3.0
Freq: D, Name: Magnitude, dtype: float64
mean :  2.6666666666666665

Time
2016-09-27    2.7
2016-09-28    3.0
2016-09-29    2.8
Freq: D, Name: Magnitude, dtype: float64
mean :  2.8333333333333335

Time
2016-09-28    3.0
2016-09-29    2.8
2016-09-30    3.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.0666666666666664

Time
2016-09-29    2.8
2016-09-30    3.4
2016-10-01    2.8
Freq: D, Name: Magnitude, dtype: float64
mean :  3.0

Time
2016-09-30    3.4
2016-10-01    2.8
2016-10-02    2.7
Freq: D, Name: Magnitude, dtype: float64
mean :  2.9666666666666663

Time
2016-10-01    2.8
2016-10-02    2.7
2016-10-03    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  2.9

Time
2016-10-02    2.7
2016-10-03    3.2
2016-10-04    3.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.1

Time
2016-10-03    3.2
2016-10-04    3.4
2016-10-05    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.266666666666667

Time
2016-10-04    3.4
2016-10-05    3.2
2016-10-06    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.266666666666667

Time
2016-10-05    3.2
2016-10-06    3.2
2016-10-07    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.2000000000000006

Time
2016-10-06    3.2
2016-10-07    3.2
2016-10-08    3.9
Freq: D, Name: Magnitude, dtype: float64
mean :  3.4333333333333336

Time
2016-10-07    3.2
2016-10-08    3.9
2016-10-09    3.6
Freq: D, Name: Magnitude, dtype: float64
mean :  3.5666666666666664

Time
2016-10-08    3.9
2016-10-09    3.6
2016-10-10    2.5
Freq: D, Name: Magnitude, dtype: float64
mean :  3.3333333333333335

Time
2016-10-09    3.6
2016-10-10    2.5
2016-10-11    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.1

Time
2016-10-10    2.5
2016-10-11    3.2
2016-10-12    2.5
Freq: D, Name: Magnitude, dtype: float64
mean :  2.733333333333333

Time
2016-10-11    3.2
2016-10-12    2.5
2016-10-13    3.1
Freq: D, Name: Magnitude, dtype: float64
mean :  2.9333333333333336

Time
2016-10-12    2.5
2016-10-13    3.1
2016-10-14    3.3
Freq: D, Name: Magnitude, dtype: float64
mean :  2.9666666666666663

Time
2016-10-13    3.1
2016-10-14    3.3
2016-10-15    3.0
Freq: D, Name: Magnitude, dtype: float64
mean :  3.1333333333333333

Time
2016-10-14    3.3
2016-10-15    3.0
2016-10-16    4.0
Freq: D, Name: Magnitude, dtype: float64
mean :  3.4333333333333336

Time
2016-10-15    3.0
2016-10-16    4.0
2016-10-17    2.6
Freq: D, Name: Magnitude, dtype: float64
mean :  3.1999999999999997

Time
2016-10-16    4.0
2016-10-17    2.6
2016-10-18    2.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.0

Time
2016-10-17    2.6
2016-10-18    2.4
2016-10-19    3.0
Freq: D, Name: Magnitude, dtype: float64
mean :  2.6666666666666665

Time
2016-10-18    2.4
2016-10-19    3.0
2016-10-20    2.9
Freq: D, Name: Magnitude, dtype: float64
mean :  2.766666666666667

Time
2016-10-19    3.0
2016-10-20    2.9
2016-10-21    2.2
Freq: D, Name: Magnitude, dtype: float64
mean :  2.7000000000000006

Time
2016-10-20    2.9
2016-10-21    2.2
2016-10-22    2.9
Freq: D, Name: Magnitude, dtype: float64
mean :  2.6666666666666665

Time
2016-10-21    2.2
2016-10-22    2.9
2016-10-23    2.6
Freq: D, Name: Magnitude, dtype: float64
mean :  2.5666666666666664

Time
2016-10-22    2.9
2016-10-23    2.6
2016-10-24    3.0
Freq: D, Name: Magnitude, dtype: float64
mean :  2.8333333333333335

Time
2016-10-23    2.6
2016-10-24    3.0
2016-10-25    2.2
Freq: D, Name: Magnitude, dtype: float64
mean :  2.6

Time
2016-10-24    3.0
2016-10-25    2.2
2016-10-26    5.9
Freq: D, Name: Magnitude, dtype: float64
mean :  3.7000000000000006

Time
2016-10-25    2.2
2016-10-26    5.9
2016-10-27    4.3
Freq: D, Name: Magnitude, dtype: float64
mean :  4.133333333333334

Time
2016-10-26    5.9
2016-10-27    4.3
2016-10-28    3.8
Freq: D, Name: Magnitude, dtype: float64
mean :  4.666666666666667

Time
2016-10-27    4.3
2016-10-28    3.8
2016-10-29    4.1
Freq: D, Name: Magnitude, dtype: float64
mean :  4.066666666666666

Time
2016-10-28    3.8
2016-10-29    4.1
2016-10-30    6.5
Freq: D, Name: Magnitude, dtype: float64
mean :  4.8

Time
2016-10-29    4.1
2016-10-30    6.5
2016-10-31    4.0
Freq: D, Name: Magnitude, dtype: float64
mean :  4.866666666666666

Time
2016-10-30    6.5
2016-10-31    4.0
2016-11-01    4.8
Freq: D, Name: Magnitude, dtype: float64
mean :  5.1000000000000005

Time
2016-10-31    4.0
2016-11-01    4.8
2016-11-02    3.7
Freq: D, Name: Magnitude, dtype: float64
mean :  4.166666666666667

Time
2016-11-01    4.8
2016-11-02    3.7
2016-11-03    4.7
Freq: D, Name: Magnitude, dtype: float64
mean :  4.3999999999999995

Time
2016-11-02    3.7
2016-11-03    4.7
2016-11-04    3.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.9333333333333336

Time
2016-11-03    4.7
2016-11-04    3.4
2016-11-05    3.6
Freq: D, Name: Magnitude, dtype: float64
mean :  3.9

Time
2016-11-04    3.4
2016-11-05    3.6
2016-11-06    3.8
Freq: D, Name: Magnitude, dtype: float64
mean :  3.6

Time
2016-11-05    3.6
2016-11-06    3.8
2016-11-07    3.8
Freq: D, Name: Magnitude, dtype: float64
mean :  3.733333333333333

Time
2016-11-06    3.8
2016-11-07    3.8
2016-11-08    3.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.6666666666666665

Time
2016-11-07    3.8
2016-11-08    3.4
2016-11-09    3.7
Freq: D, Name: Magnitude, dtype: float64
mean :  3.633333333333333

Time
2016-11-08    3.4
2016-11-09    3.7
2016-11-10    3.6
Freq: D, Name: Magnitude, dtype: float64
mean :  3.5666666666666664

Time
2016-11-09    3.7
2016-11-10    3.6
2016-11-11    3.5
Freq: D, Name: Magnitude, dtype: float64
mean :  3.6

Time
2016-11-10    3.6
2016-11-11    3.5
2016-11-12    4.1
Freq: D, Name: Magnitude, dtype: float64
mean :  3.733333333333333

Time
2016-11-11    3.5
2016-11-12    4.1
2016-11-13    3.9
Freq: D, Name: Magnitude, dtype: float64
mean :  3.8333333333333335

Time
2016-11-12    4.1
2016-11-13    3.9
2016-11-14    4.0
Freq: D, Name: Magnitude, dtype: float64
mean :  4.0

Time
2016-11-13    3.9
2016-11-14    4.0
2016-11-15    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.7000000000000006

Time
2016-11-14    4.0
2016-11-15    3.2
2016-11-16    3.9
Freq: D, Name: Magnitude, dtype: float64
mean :  3.6999999999999997

Time
2016-11-15    3.2
2016-11-16    3.9
2016-11-17    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.4333333333333336

Time
2016-11-16    3.9
2016-11-17    3.2
2016-11-18    3.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.5

Time
2016-11-17    3.2
2016-11-18    3.4
2016-11-19    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.266666666666667

Time
2016-11-18    3.4
2016-11-19    3.2
2016-11-20    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.266666666666667

Time
2016-11-19    3.2
2016-11-20    3.2
2016-11-21    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.2000000000000006

Time
2016-11-20    3.2
2016-11-21    3.2
2016-11-22    3.1
Freq: D, Name: Magnitude, dtype: float64
mean :  3.1666666666666665

Time
2016-11-21    3.2
2016-11-22    3.1
2016-11-23    3.8
Freq: D, Name: Magnitude, dtype: float64
mean :  3.366666666666667

Time
2016-11-22    3.1
2016-11-23    3.8
2016-11-24    2.9
Freq: D, Name: Magnitude, dtype: float64
mean :  3.266666666666667

Time
2016-11-23    3.8
2016-11-24    2.9
2016-11-25    3.1
Freq: D, Name: Magnitude, dtype: float64
mean :  3.266666666666666

Time
2016-11-24    2.9
2016-11-25    3.1
2016-11-26    3.2
Freq: D, Name: Magnitude, dtype: float64
mean :  3.0666666666666664

Time
2016-11-25    3.1
2016-11-26    3.2
2016-11-27    3.9
Freq: D, Name: Magnitude, dtype: float64
mean :  3.4000000000000004

Time
2016-11-26    3.2
2016-11-27    3.9
2016-11-28    3.6
Freq: D, Name: Magnitude, dtype: float64
mean :  3.5666666666666664

Time
2016-11-27    3.9
2016-11-28    3.6
2016-11-29    4.4
Freq: D, Name: Magnitude, dtype: float64
mean :  3.966666666666667

Time
2016-11-28    3.6
2016-11-29    4.4
2016-11-30    3.1
Freq: D, Name: Magnitude, dtype: float64
mean :  3.6999999999999997